# Python 缓存文件
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# PyTorch 相关
*.pt
*.pth
model_weights/
checkpoints/

# 虚拟环境
venv/
env/
*.venv
*.env

# PyQt5 生成的 UI 文件（如果是手动编辑的 .ui 文件，则不忽略）
*.qrc
*.pyc
*.bak

# 日志文件
log/
*.log

# Jupyter Notebook 缓存（如果使用 Jupyter）
.ipynb_checkpoints/

# IDE/编辑器相关
.vscode/
.idea/
*.iml

# 系统文件（Mac / Windows）
.DS_Store
Thumbs.db

# 其他临时文件
*.swp
*.swo
